#page {
    padding: 0px;
    min-width: 300px;
}


/* NAVBAR */
#navbar {
    background-color: #353535;
}

#navbar a {
    color: ivory;
}

#navbar a:hover {
    color: rgb(206, 206, 194);
}

#navbar-logo {
    position: absolute;
    top: 10px;
}


/* CAROUSEL */
#carousel * {
    max-height: 70vh;
}

#carousel img {
    object-fit: cover;
    width: 100%
}

/* VIEWPORTS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar-logo {
        left: 34vw;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navbar-logo {
        left: 38vw;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #navbar-logo {
        left: 42vw;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbar-logo {
        left: 42vw;
    }

    #cart-logo {
        display: block;
    }

    #cart-nav * {
        display: none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #navbar-logo {
        left: 45vw;
    }

    #cart-logo {
        display: block;
    }

    #cart-nav * {
        display: none;
    }
}