#page {
    padding: 0px;
    min-width: 300px;
}

#navbar, footer, .card-img-overlay {
    background-color: rgb(53, 53, 53);
    color: ivory;
}

#navbar a, footer a, .card-img-overlay {
    color: ivory;
}

#navbar a:hover, footer a:hover {
    color: rgb(206, 206, 194);
    text-decoration: none;
}

#content {
    padding: 15px 5px;
    margin: auto;
}


/* FOOTER */
footer {
    min-height: 200px;
    padding: 15px 5px;
    text-align: center;
}

footer .row {
    vertical-align: 50%;
}

/* NAVBAR */
#navbar-logo {
    position: absolute;
    top: 10px;
}


/* CAROUSEL */
#carousel img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

.carousel-indicators li {
    height: 10px;
}
.carousel-indicators li:hover {
    cursor: pointer;
}

.carousel-control-prev:hover , .carousel-control-next:hover {
    transition: background .25s ease-in-out;
    background: rgba(221, 221, 221, 0.2);
}


/* PRODUCT CARDS */
.product-card {
    padding-top: 10px;
    margin: auto;
    width: 300px;
    max-width: 400px;
}

.product-card:hover {
    cursor: pointer;
}

.card-img-overlay {
    position: absolute;
    top: 80%;
    background-color: rgba(53, 53, 53, 0.8);
    height: 20%;
}

.card-img-top {
    width: 100%;
}



/* VIEWPORTS */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #navbar-logo {
        left: 30%;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #navbar-logo {
        left: 38%;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #navbar-logo {
        left: 42%;
    }

    #cart-logo {
        display: none;
    }

    #cart-nav * {
        display: block;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbar-logo {
        left: 42%;
    }

    #cart-logo {
        display: block;
    }

    #cart-nav * {
        display: none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #navbar-logo {
        left: 45%;
    }

    #cart-logo {
        display: block;
    }

    #cart-nav * {
        display: none;
    }
}